{% extends 'base.html.twig' %}

{% block body %}
    <div class="card col" >
        <div class="card-body">
            <img src="https://picsum.photos/280/280" style="height:50vh" class="card-img-top" alt="...">

            <p class="card-text"><strong>{{ hat.name }}</strong></p>
            <p class="card-text"><strong>{{ hat.price }}€</strong></p>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

